name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: "167.99.65.133"
          username: "root"
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            /var/www/dlas/scripts/deploy.sh
